/* From Uiverse.io by vinodjangid07 */ 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }
  .switch {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  .wrapper {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s;
  }
  .row {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .row-bottom {
    align-items: flex-end;
  }
  .dot {
    width: 6px;
    height: 6px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s;
  }
  .row-horizontal {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
  }
  .row-vertical {
    position: absolute;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
  }
  
  .switch:hover .wrapper .row-horizontal {
    width: 100px;
  }
  .switch:hover .wrapper .row-vertical {
    height: 100px;
  }
  
  .switch:hover .wrapper .row-vertical .middle-dot {
    border-radius: 5px;
    height: 32px;
  }
  .switch:hover .wrapper .row-horizontal .middle-dot-horizontal {
    border-radius: 5px;
    width: 32px;
  }
  .switch input:checked + .wrapper {
    transform: rotate(45deg) scale(1.2);
  }
  .switch input:checked + .wrapper .row-vertical {
    height: 80px;
  }
  .switch input:checked + .wrapper .row-horizontal {
    width: 80px;
  }
  
  .switch input:checked + .wrapper .row-vertical .middle-dot {
    border-radius: 5px;
    height: 32px;
  }
  .switch input:checked + .wrapper .row-horizontal .middle-dot-horizontal {
    border-radius: 5px;
    width: 32px;
  }

  .switch:hover input:checked + .wrapper .row-vertical .middle-dot {
    background-color: #FF0000;
  }
  .switch:hover input:checked + .wrapper .row-horizontal .middle-dot-horizontal {
    background-color: #FF0000;
  }
  


  /* Responsive styles */
@media (max-width: 640px) {
  .switch {
    width: 20px;
    height: 20px;
  }

  .wrapper {
    width: 20px;
    height: 20px;
  }

  .dot {
    width: 4px;
    height: 4px;
  }

  .row-horizontal,
  .row-vertical {
    width: 40;
    height: 40;
  }

  .switch:hover .wrapper .row-horizontal {
    width: 40px;
  }

  .switch:hover .wrapper .row-vertical {
    height: 40px;
  }

  .switch input:checked + .wrapper .row-vertical {
    height: 40px;
  }

  .switch input:checked + .wrapper .row-horizontal {
    width: 40px;
  }
}

/* @media (max-width: 480px) {
  .switch {
    width: 25px;
    height: 25px;
  }

  .wrapper {
    width: 25px;
    height: 25px;
  }

  .dot {
    width: 5px;
    height: 5px;
  }

  .row-horizontal,
  .row-vertical {
    width: 60px;
    height: 60px;
  }

  .switch:hover .wrapper .row-horizontal {
    width: 60px;
  }

  .switch:hover .wrapper .row-vertical {
    height: 60px;
  }

  .switch input:checked + .wrapper .row-vertical {
    height: 60px;
  }

  .switch input:checked + .wrapper .row-horizontal {
    width: 60px;
  }
} */
