@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide the native scrollbar but keep functionality */
body {
    overflow-x: hidden;
    font-family: "Doto", sans-serif;
    font-weight: 900;
    /* font-family: "Cormorant Garamond", serif; */
    /* font-family: "Karla", serif; */

  }

  /* scroll design */
  body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(49, 49, 49)
  }
  
  body::-webkit-scrollbar-track-piece {
    background: rgb(49, 49, 49);
  }
  
  body::-webkit-scrollbar-thumb {
    background: white;
    box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
      inset -1px 2px 3px rgb(0 0 0 / 25%);
  }

  /* scroll design */

  .custom-toast{
    font-family: "Cormorant Garamond", serif;
    font-size: .8rem;
  }


  .section-heading{
    @apply text-4xl md:text-7xl font-bold;
    /* @apply text-5xl md:text-7xl font-extralight underline decoration-[#D3D3D3] decoration-2 decoration-dashed; */
  }
  
  [data-scroll-container] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
  }


  .progress-bar {
    width: 100%; /* Full width */
    height: 2px; /* Adjust height as needed */
    border-radius: 8px;
    /* background-color: #47a7ff44; */
    overflow: hidden; /* Ensures animation stays within bounds */
  }
  
  .progress-bar div {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    animation: progressBarAnimation 2.5s linear; /* Duration set to 2 seconds */
  }
  
  @keyframes progressBarAnimation {
    from {
      transform: scaleX(0); /* Start from 0% width */
    }
  
    to {
      transform: scaleX(1); /* End at 100% width */
    }
  }
  